.CardS {
    width: 300px;
    height: 350px;
    border: 2px solid gainsboro;
    border-radius: 10px;

}

.containar {
    /* width: 200px;
    height: 130px; */
    background-color: gainsboro;
    padding: 55px;
    font-size: 30px;



}